.u-section-1 .u-sheet-1 {
  min-height: 1120px;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  margin: 160px 40px 0 2px;
}

.u-section-1 .u-accordion-1 {
  margin-bottom: 80px;
  margin-top: 30px;
}

.u-section-1 .u-accordion-link-1 {
  margin-bottom: 0;
  font-size: 2.25rem;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 524px;
  margin-right: 0;
  margin-left: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 27px;
}

.u-section-1 .u-group-1 {
  width: 366px;
  min-height: 238px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/Sinttulo.jpg");
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-text-2 {
  text-transform: none;
  font-weight: 400;
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  margin: 0 auto;
}

.u-section-1 .u-group-2 {
  width: 366px;
  min-height: 238px;
  margin: -238px 0 0 auto;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/battol.jpg");
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-text-3 {
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-group-3 {
  width: 366px;
  min-height: 238px;
  margin: -238px auto 0;
}

.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/pw1.jpg");
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-1 .u-text-4 {
  text-transform: none;
  font-weight: 400;
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  letter-spacing: 0px;
  margin: 0 auto;
}

.u-section-1 .u-group-4 {
  width: 366px;
  min-height: 238px;
  margin: 21px auto 0 0;
}

.u-section-1 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/stroe.jpg");
}

.u-section-1 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-1 .u-text-5 {
  text-transform: none;
  font-weight: 400;
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  margin: 0 auto;
}

.u-section-1 .u-group-5 {
  width: 366px;
  min-height: 238px;
  margin: -238px auto 0;
}

.u-section-1 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/bddd1.jpg");
}

.u-section-1 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-1 .u-text-6 {
  text-transform: none;
  font-weight: 400;
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  letter-spacing: 0px;
  margin: 0 auto;
}

.u-section-1 .u-group-6 {
  width: 366px;
  min-height: 238px;
  margin: -240px 0 0 auto;
}

.u-section-1 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/bddd2.jpg");
}

.u-section-1 .u-container-layout-7 {
  padding: 0 30px;
}

.u-section-1 .u-text-7 {
  text-transform: none;
  font-weight: 400;
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  letter-spacing: 0px;
  margin: 0 auto;
}

.u-section-1 .u-accordion-link-2 {
  margin-bottom: 0;
  font-size: 2.25rem;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 527px;
  margin-right: 0;
  margin-left: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 0 30px;
}

.u-section-1 .u-group-7 {
  width: 366px;
  min-height: 238px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/cubo.jpg");
}

.u-section-1 .u-container-layout-9 {
  padding: 0 30px;
}

.u-section-1 .u-text-8 {
  text-transform: none;
  font-weight: 400;
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  letter-spacing: 0px;
  margin: 0 auto;
}

.u-section-1 .u-group-8 {
  width: 366px;
  min-height: 238px;
  margin: -238px 0 0 auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 30px;
}

.u-section-1 .u-group-9 {
  width: 366px;
  min-height: 238px;
  margin: -238px 0 0 auto;
}

.u-section-1 .u-image-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/cora.jpg");
}

.u-section-1 .u-container-layout-11 {
  padding: 0 30px;
}

.u-section-1 .u-text-9 {
  text-transform: none;
  font-weight: 400;
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  letter-spacing: 0px;
  margin: 0 auto;
}

.u-section-1 .u-group-10 {
  width: 366px;
  min-height: 238px;
  margin: -238px auto 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-group-11 {
  min-height: 238px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/valle.jpg");
}

.u-section-1 .u-container-layout-13 {
  padding: 0 30px;
}

.u-section-1 .u-text-10 {
  text-transform: none;
  font-weight: 400;
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  letter-spacing: 0px;
  margin: 0 auto;
}

.u-section-1 .u-group-12 {
  width: 366px;
  min-height: 238px;
  margin: 21px auto 0 0;
}

.u-section-1 .u-image-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/WhatsAppImage2021-06-21at15.15.26.jpeg");
}

.u-section-1 .u-container-layout-14 {
  padding: 0 30px;
}

.u-section-1 .u-text-11 {
  text-transform: none;
  font-weight: 400;
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  letter-spacing: 0px;
  margin: 0 auto;
}

.u-section-1 .u-group-13 {
  width: 366px;
  min-height: 238px;
  margin: -238px 0 0 auto;
}

.u-section-1 .u-image-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/animeish.jpg");
}

.u-section-1 .u-container-layout-15 {
  padding: 0 30px;
}

.u-section-1 .u-text-12 {
  text-transform: none;
  font-weight: 400;
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  letter-spacing: 0px;
  margin: 0 -30px;
}

.u-section-1 .u-group-14 {
  width: 366px;
  min-height: 238px;
  margin: -238px auto 0;
}

.u-section-1 .u-image-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/anonuay.jpg");
}

.u-section-1 .u-container-layout-16 {
  padding: 0 30px;
}

.u-section-1 .u-text-13 {
  text-transform: none;
  font-weight: 400;
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  letter-spacing: 0px;
  margin: 0 auto;
}

.u-section-1 .u-accordion-link-3 {
  margin-bottom: 0;
  font-size: 2.25rem;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 274px;
  margin-right: 0;
  margin-left: 0;
}

.u-section-1 .u-container-layout-17 {
  padding: 0 0 29px;
}

.u-section-1 .u-group-15 {
  width: 366px;
  min-height: 238px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/lunatuc.jpg");
}

.u-section-1 .u-container-layout-18 {
  padding: 0 30px;
}

.u-section-1 .u-text-14 {
  text-transform: none;
  font-weight: 400;
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  letter-spacing: 0px;
  margin: 0 auto;
}

.u-section-1 .u-group-16 {
  width: 366px;
  min-height: 238px;
  margin: -238px 0 0 auto;
}

.u-section-1 .u-image-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/stonla.jpg");
  background-position: 0% 50%;
}

.u-section-1 .u-container-layout-19 {
  padding: 0 30px;
}

.u-section-1 .u-text-15 {
  text-transform: none;
  font-weight: 400;
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  letter-spacing: 0px;
  margin: 0 -30px;
}

.u-section-1 .u-group-17 {
  width: 366px;
  min-height: 238px;
  margin: -238px auto 0;
}

.u-section-1 .u-image-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/burd.jpg");
}

.u-section-1 .u-container-layout-20 {
  padding: 0 30px;
}

.u-section-1 .u-text-16 {
  text-transform: none;
  font-weight: 400;
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  letter-spacing: 0px;
  margin: 0 auto;
}

.u-section-1 .u-accordion-link-4 {
  margin-bottom: 0;
  font-size: 2.25rem;
}

.u-section-1 .u-accordion-pane-4 {
  min-height: 274px;
  margin-right: 0;
  margin-left: 0;
}

.u-section-1 .u-container-layout-21 {
  padding: 0 0 30px;
}

.u-section-1 .u-group-18 {
  width: 366px;
  min-height: 238px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/audacityp.png");
}

.u-section-1 .u-container-layout-22 {
  padding: 0;
}

.u-section-1 .u-text-17 {
  text-transform: none;
  font-weight: 400;
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  letter-spacing: 0px;
  width: 291px;
  margin: 0 auto;
}

.u-section-1 .u-image-17 {
  width: 366px;
  min-height: 238px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/anuni.png");
  margin: -238px auto 0;
}

.u-section-1 .u-image-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/anonuay.jpg");
}

.u-section-1 .u-container-layout-23 {
  padding: 0 30px;
}

.u-section-1 .u-text-18 {
  text-transform: none;
  font-weight: 400;
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  letter-spacing: 0px;
  margin: 0 auto;
}

.u-section-1 .u-accordion-link-5 {
  margin-bottom: 0;
  font-size: 2.25rem;
}

.u-section-1 .u-accordion-pane-5 {
  min-height: 536px;
  margin-right: 0;
  margin-left: 0;
}

.u-section-1 .u-container-layout-24 {
  padding: 0 0 30px;
}

.u-section-1 .u-group-20 {
  width: 366px;
  min-height: 238px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-19 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/aulanat.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-25 {
  padding: 0 30px;
}

.u-section-1 .u-text-19 {
  text-transform: none;
  font-weight: 400;
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  letter-spacing: 0px;
  margin: 0 auto;
}

.u-section-1 .u-group-21 {
  width: 366px;
  min-height: 238px;
  margin: -238px 0 0 auto;
}

.u-section-1 .u-image-20 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/bomba.jpg");
}

.u-section-1 .u-container-layout-26 {
  padding: 0 30px;
}

.u-section-1 .u-text-20 {
  text-transform: none;
  font-weight: 400;
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  letter-spacing: 0px;
  width: 192px;
  margin: 0 auto;
}

.u-section-1 .u-group-22 {
  width: 366px;
  min-height: 238px;
  margin: -238px auto 0;
}

.u-section-1 .u-image-21 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/guion2.jpg");
}

.u-section-1 .u-container-layout-27 {
  padding: 0 30px;
}

.u-section-1 .u-text-21 {
  text-transform: none;
  font-weight: 400;
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  letter-spacing: 0px;
  width: 192px;
  margin: 0 auto;
}

.u-section-1 .u-group-23 {
  width: 366px;
  min-height: 238px;
  margin: 21px auto 0 0;
}

.u-section-1 .u-image-22 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/40849740803_f7b4e8cf32_c.jpg");
}

.u-section-1 .u-container-layout-28 {
  padding: 0;
}

.u-section-1 .u-text-22 {
  text-transform: none;
  font-weight: 400;
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  letter-spacing: 0px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-1 .u-group-13 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-accordion-pane-3 {
    height: auto;
  }

  .u-section-1 .u-group-16 {
    background-position: 0% 50%;
  }

  .u-section-1 .u-accordion-pane-4 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-5 {
    height: auto;
  }

  .u-section-1 .u-text-22 {
    width: 192px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-25 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-26 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-27 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
  }

  .u-section-1 .u-group-6 {
    width: 340px;
  }

  .u-section-1 .u-group-7 {
    width: 340px;
  }

  .u-section-1 .u-group-8 {
    width: 340px;
  }

  .u-section-1 .u-group-9 {
    width: 340px;
  }

  .u-section-1 .u-group-10 {
    width: 340px;
  }

  .u-section-1 .u-group-12 {
    width: 340px;
  }

  .u-section-1 .u-group-13 {
    width: 340px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-group-14 {
    width: 340px;
  }

  .u-section-1 .u-group-15 {
    width: 340px;
  }

  .u-section-1 .u-group-16 {
    width: 340px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-17 {
    width: 340px;
  }

  .u-section-1 .u-group-18 {
    width: 340px;
  }

  .u-section-1 .u-image-17 {
    width: 340px;
  }

  .u-section-1 .u-group-20 {
    width: 340px;
  }

  .u-section-1 .u-group-21 {
    width: 340px;
  }

  .u-section-1 .u-group-22 {
    width: 340px;
  }

  .u-section-1 .u-group-23 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 991px;
}

.u-section-2 .u-text-1 {
  font-weight: 300;
  margin: 80px 17px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 19px;
  margin-bottom: -97px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 383px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-2 .u-text-2 {
  margin: 0 30px 0 0;
}

.u-section-2 .u-image-1 {
  width: 87px;
  height: 100px;
  margin: 30px auto 0 129px;
}

.u-section-2 .u-image-2 {
  width: 100px;
  height: 100px;
  margin: -100px 169px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 90px;
  height: 100px;
  margin: -100px auto 0 0;
}

.u-section-2 .u-image-4 {
  width: 100px;
  height: 100px;
  margin: -100px auto 0 400px;
}

.u-section-2 .u-image-5 {
  width: 70px;
  height: 100px;
  margin: 30px auto 0 10px;
}

.u-section-2 .u-image-6 {
  width: 70px;
  height: 100px;
  margin: -100px auto 0 138px;
}

.u-section-2 .u-image-7 {
  width: 70px;
  height: 100px;
  margin: -100px 184px 0 auto;
}

.u-section-2 .u-image-8 {
  width: 100px;
  height: 100px;
  margin: -100px auto 0 400px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 375px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin: 0;
}

.u-section-2 .u-image-9 {
  width: 62px;
  height: 100px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-image-10 {
  width: 104px;
  height: 100px;
  margin: -100px auto 0 114px;
}

.u-section-2 .u-image-11 {
  width: 103px;
  height: 100px;
  margin: -100px 127px 0 auto;
}

.u-section-2 .u-image-12 {
  width: 75px;
  height: 100px;
  margin: -100px 0 0 auto;
}

.u-section-2 .u-image-13 {
  width: 93px;
  height: 100px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 383px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  margin: 0;
}

.u-section-2 .u-image-14 {
  width: 96px;
  height: 100px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-image-15 {
  width: 87px;
  height: 100px;
  margin: -100px auto 0 129px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 382px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin: 0;
}

.u-section-2 .u-image-16 {
  width: 102px;
  height: 100px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-image-17 {
  width: 102px;
  height: 100px;
  margin: -100px auto 0 132px;
}

.u-section-2 .u-image-18 {
  width: 102px;
  height: 100px;
  margin: -100px 0 0 auto;
}

.u-section-2 .u-image-19 {
  width: 102px;
  height: 100px;
  margin: -100px 132px 0 auto;
}

.u-section-2 .u-image-20 {
  width: 93px;
  height: 100px;
  margin: 30px auto 0 137px;
}

.u-section-2 .u-image-21 {
  width: 87px;
  height: 100px;
  margin: -100px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 316px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    margin-left: 330px;
  }

  .u-section-2 .u-image-8 {
    margin-left: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 309px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 316px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 384px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-4 {
    margin-left: 220px;
  }

  .u-section-2 .u-image-8 {
    margin-left: 220px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 115px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 341px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 240px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-left: 15px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 241px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 140px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 485px;
}

.u-section-3 .u-text-1 {
  margin: 80px 40px 0 4px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: -113px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 223px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  margin: 17px 16px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 184px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 256px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 128px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 108px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 30px 10px;
}

.u-section-4 .u-social-icons-1 {
  height: 60px;
  min-height: 16px;
  width: 435px;
  min-width: 171px;
  white-space: nowrap;
  margin: 4px auto 0;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 60px;
}

.u-section-4 .u-icon-4 {
  height: 100%;
}

.u-section-4 .u-icon-5 {
  height: 60px;
}

.u-section-4 .u-icon-6 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 130px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 89px;
  }

  .u-section-4 .u-icon-1 {
    color: rgb(170, 210, 199) !important;
  }

  .u-section-4 .u-icon-2 {
    color: rgb(170, 210, 199) !important;
  }

  .u-section-4 .u-icon-4 {
    color: rgb(170, 210, 199) !important;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}